<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,intial-scale=1.0">
	<title>	Fantasy Cricket </title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<body ng-app="body">


<div ng-controller="displayPlayersCtrl">
	<table>
		<tr style="cursor: pointer;">
			<th> S. No. </th>
			<th ng-click="sort('name')"> Name </th>
			<th ng-click="sort('age')"> Age </th>
			<th ng-click="sort('team')"> Team </th>
			<th ng-click="sort('batting_style')"> Batting Style </th>
			<th ng-click="sort('bowling_style')"> Bowling Style </th>
			<th ng-click="sort('pool')"> Pool </th>
			<th ng-click="sort('cost')"> Cost </th>
		</tr>
		<tr ng-repeat="p in players | orderBy : col : rev" ng-click="dis(p)">
			<td> {{ $index + 1 }} </td>
			<td> {{ p.name }} </td>
			<td> {{ p.age }} </td>
			<td> {{ p.team }} </td>
			<td> {{ p.batting_style }} </td>
			<td> {{ p.bowling_style }} </td>
			<td> {{ p.pool }} </td>
			<td> {{ p.cost }} </td>
		</tr>
	</table>
</div>

<script>
if(sessionStorage.getItem("admin-uname") == null && sessionStorage.getItem("uname") == null)
	window.top.location = "index.html";

var bodyApp = angular.module("body", []);

bodyApp.controller("displayPlayersCtrl", function($scope, $http) {
	$scope.col = 'id';
	$scope.rev = false;
	$scope.sort = function(x) {
		if(x == $scope.col)
			$scope.rev = !$scope.rev;
		else {
			$scope.col = x;
			$scope.rev = false;
		}
	}
	
	$scope.players = [];

	$scope.dis = function(x) {
		console.log(x);
	}

	$scope.fetchPlayers = function() {
		$http({
			method : "POST",
			url    : "../server/display.php?page=fetchPlayers",
			data   : {
				team: 'all'
			}
		}).then(function(data) {
			console.log(data.data);

			if(data.data.status) {
				$scope.players = data.data.players;
			}
			else
				alert('Something went wrong. Try again or contact developer.');

		}, function myError(response) {
			console.log(response);
		});
	}

	$scope.fetchPlayers();
});
</script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
</body>
</html>