<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>	Fantasy Cricket </title>
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<body ng-app="body">


<div ng-controller="createMatchCtrl">
	<form>
		<label><b> Home Team </b></label>
		<br>
		<select ng-model="team1" required>
			<option value="Mumbai Indians"> Mumbai Indians </option>
			<option value="Chennai Super Kings"> Chennai Super Kings </option>
			<option value="Royal Challengers Banglore"> Royal Challengers Banglore </option>
			<option value="Kolkata Knight Riders"> Kolkata Knight Riders </option>
		</select>
		<br>
		<label><b> Away Team </b></label>
		<br>
		<select ng-model="team2" required>
			<option value="Mumbai Indians"> Mumbai Indians </option>
			<option value="Chennai Super Kings"> Chennai Super Kings </option>
			<option value="Royal Challengers Banglore"> Royal Challengers Banglore </option>
			<option value="Kolkata Knight Riders"> Kolkata Knight Riders </option>
		</select>
		<br>
		<label><b> Venue </b></label>
		<br>
		<select ng-model="venue" required>
			<option value="Wankhede Stadium, Mumbai"> Wankhede Stadium, Mumbai </option>
			<option value="M. A. Chidambaram Stadium, Chennai"> M. A. Chidambaram Stadium, Chennai </option>
			<option value="M Chinnaswamy Stadium, Banglore"> M Chinnaswamy Stadium, Banglore </option>
			<option value="Eden Gardens, Kolkata"> Eden Gardens, Kolkata </option>
		</select>
		<br>
		<label><b> Schedule </b></label>
		<br>
		<input type="datetime-local" ng-model="schedule" required>
		<br>
		<label><b> Authentication Code </b></label>
		<br>
		<input type="password" ng-model="authCode" placeholder="Authentication Code" required>
		<br>
		<br>
		<button type="submit" name="create-match" ng-click="createMatch()" > Create Match </button>
		<br>
	</form>
</div>

<script>
if(sessionStorage.getItem("admin-uname") == null)
	window.top.location = "index.html";

var bodyApp = angular.module("body", []);

bodyApp.controller("createMatchCtrl", function($scope, $http) {
	$scope.createMatch = function() {
		console.log($scope.team1);
		console.log($scope.team2);
		console.log($scope.venue);
		console.log($scope.schedule);
		console.log(new Date());
		console.log($scope.authCode);

		if($scope.team1 == $scope.team2) {
			alert('Both teams cannot be same');
			return;
		}
		var d = new Date();
		d.setMinutes(d.getMinutes() + 10);
		if(d.getTime() > ($scope.schedule).getTime()) {
			alert('You can only start a match 10 minutes prior to the schedule');
			return;
		}

		// console.log('no issue');
		$http({
			method : "POST",
			url    : "../../server/create_match.php?page=createMatch",
			data   : {
				team1 	 : $scope.team1,
				team2 	 : $scope.team2,
				venue 	 : $scope.venue,
				schedule : $scope.schedule,
				authCode : $scope.authCode
			}
		}).then(function(data) {
			console.log(data.data);

			if(data.data.status) {
				alert('Match Created');
				window.location.reload();
			}
			else if(!data.data.auth)
				alert('Invalid Authentication Code.');

			// if(data.data.status == 'error')
			// 	alert('Something went wrong. Try again or contact developer.');

		}, function myError(response) {
			console.log(response);
		});
	}
});
</script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
</body>
</html>