<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>	Fantasy Cricket </title>
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<body ng-app="body">

<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
  <a class="navbar-brand text-light" href="index.html">FantasyCricket</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link text-light" href="display_matches.html"> View Matches </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link text-light" href="display_players.html"> View Players </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="create_match.html"> Create Match </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="add_player.html"> Add Player </a>
      </li>
    </ul>
    <ul class="navbar-nav mr-right">
      <li class="nav-item">
        <a class="nav-link text-light" href="#" onclick="logout()"> Logout </a>
      </li>
     </ul>
  </div>
</nav>

<div class="container-fluid table-responsive" ng-controller="displayPlayersCtrl" style="margin-top: 50px; background-color: grey;">
	<table class="table text-light table-hover" style="cursor: pointer;">
		<thead>
			<tr>
				<th> S.No. </th>
				<th ng-click="sort('name')"> Name </th>
				<th ng-click="sort('age')"> Age </th>
				<th ng-click="sort('team')"> Team </th>
				<th ng-click="sort('batting_style')"> Batting Style </th>
				<th ng-click="sort('bowling_style')"> Bowling Style </th>
				<th ng-click="sort('pool')"> Pool </th>
				<th ng-click="sort('cost')"> Cost </th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="p in players | orderBy : col : rev" ng-click="dis(p)">
				<td> {{ $index + 1 }} </td>
				<td> {{ p.name }} </td>
				<td> {{ p.age }} </td>
				<td> {{ p.team }} </td>
				<td> {{ p.batting_style }} </td>
				<td> {{ p.bowling_style }} </td>
				<td> {{ p.pool }} </td>
				<td> {{ p.cost }} </td>
			</tr>
		</tbody>
	</table>
</div>

<script>
if(sessionStorage.getItem("admin-uname") == null)
	window.top.location = "index.html";

function logout() {
	sessionStorage.removeItem("admin-uname");
	window.location.reload();
}

var bodyApp = angular.module("body", []);

bodyApp.controller("displayPlayersCtrl", function($scope, $http) {
	$scope.col = 'id';
	$scope.rev = false;
	$scope.sort = function(x) {
		if(x == $scope.col)
			$scope.rev = !$scope.rev;
		else {
			$scope.col = x;
			$scope.rev = false;
		}
	}
	
	$scope.players = [];

	$scope.dis = function(x) {
		console.log(x);
	}

	$scope.fetchPlayers = function() {
		$http({
			method : "POST",
			url    : "../../server/display.php?page=fetchPlayers",
			data   : {
				team: 'all'
			}
		}).then(function(data) {
			console.log(data.data);

			if(data.data.status) {
				$scope.players = data.data.players;
			}
			else
				alert('Something went wrong. Try again or contact developer.');

		}, function myError(response) {
			console.log(response);
		});
	}

	$scope.fetchPlayers();
});
</script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
</body>
</html>